<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="'/'" routerLinkActive="active">Profil Developper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/profil'" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/color'" routerLinkActive="active">Color</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/style'" routerLinkActive="active">style</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="'/list'" routerLinkActive="active" tabindex="-1" >Liste </a>
      </li>
    </ul>
  </div>
</nav>
