<div class="col-md-12 col-sm-12">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="assets/images/rotating_card_thumb2.png">
                        </div>
                        <div class="user">
                            <img class="img-circle" src="assets/images/{{ personne.path|defaultImage }} ">
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name"> {{ personne.name | titlecase }} {{ personne.firstName }} </h3>
                                <p class="profession">{{ personne.job }} </p>
                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                            </div>
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">{{ personne.age }} ans</h4>
                                <p class="text-center"> Cin:  {{ personne.cin }} </p>

                                <div class="stats-container">
                                    <div class="stats">
                                        <h4>235</h4>
                                        <p>
                                            Followers
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>114</h4>
                                        <p>
                                            Following
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>35</h4>
                                        <p>
                                            Projects
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                               <button class="btn btn-info" (click)="embaucher()" > Embaucher </button>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div>
