<select #selectComposant (click)="goToComonent(selectComposant.value)" class="form-control">
<option value="" ></option>
<option value="profil" >Profil</option>
<option value="color" >Color</option>
<option value="style" >Style</option>
<option value="rsimilator" >Similator</option>
</select>
