<ol class="list-group">
<li class="list-group-item" *ngFor="let team of teams; let index = index;" > {{ team }} - {{ index }} </li>
</ol>

<p [ngClass]= "{
            'est': est,
            'barca': barca,
            'milan': milan
  }" >class works!</p>

  <button class="btn btn-danger" (click)=changeTeam() > Change team </button>

  <div appHighlight>
  <br><br>
  Bonjour c est un test directive appHighlight inserer here
  <br><br>
  </div>
  <div >
  <input *ngIf="show" type="text" class="form-control" appRainbow >
  <button class="btn btn-primary" (click)="show = !show" > Show </button>
  </div>
