<li class="list-group-item"
(click)="selectPersonne()"
>
<img src="assets/images/{{ personne.path|defaultImage }} " width="50px" height="50px" alt="{{ personne.name }} ">
{{ personne.name }} <span class="profession">{{ personne.firstName }} </span>
<em> {{ personne.job }} </em>

</li>
