<div *ngIf="personnes">
<h1>Embauche Personne </h1>
<span *ngFor="let personne of personnes" >
<img class="rounded-circle" src="assets/images/{{ personne.path|defaultImage }} " width="150px" height="150px" alt="{{ personne.name }} ">
{{ personne.name }} <span class="profession">{{ personne.firstName }} </span>
<em> {{ personne.job }} </em>
</span>
</div>
