<p [ngStyle]="{
                'color': color,
                'backgroundColor': bgColor,
                'font-size':size
            }"
>
style works!</p>
<input class="form-control" [(ngModel)]="color" type="text" name="" placeholder="write color">

<input class="form-control" type="number" #sizeInput (change)="change(sizeInput.value)"placeholder="saisir taille de Carectere">
