<div class="row">
  <div class="col-md-6 col-sm-3">
  <app-liste-profil [personnes]="personnes" (selectedPersonne)="selectPersonne($event)" ></app-liste-profil>
  </div>
  <div class="col-md-6 col-sm-9">
  <app-detail-profil *ngIf="selectedPersonne" [personne]="selectedPersonne" ></app-detail-profil>
  </div>
</div>
<div class="row">
<app-embauche></app-embauche>
</div>
