<ol class="list-group">
<app-item-profil *ngFor="let personne of personnes; let index = index;" [personne]= "personnes[index]" (selectedPersonne)="selectPersonne($event)" >
</app-item-profil>


</ol>
