<app-fils (sendRequestToPere)="processReq($event)" [filsProprety] = "color" ></app-fils>


<div [style.backgroundColor]="color" >
COLOR
</div>

<input #inputColor (change)="changeColor(inputColor)" type="text" name="" class="form-control" id="">
<hr>
<br>

<input
    [(ngModel)] = "color"
     type="text"
      name="" id=""
>
<p> lez proprietet de color in 2 way databinding is: {{ color }} </p>

<br>

<button class="btn btn-primary" (click)="loggerMesData()" > Log data </button>
<br><br>
<a (click)="goToProfil()" type="button" class="btn btn-primary" > Goi to profil</a>
<br>
