
<app-color></app-color>


<div class="alert alert-success">
<i class="fas fa-angry"></i><i class="fas fa-user"></i> display bootstrap success <i class="far fa-smile-wink"></i><i class="fas fa-camera"></i>
<i class="fas fa-bell"></i>
</div>


<app-profil></app-profil>

<div [hidden]="show" [style.backgroundColor] = "bgColor" > Binding ding !!! </div>

<button class="btn btn-danger" (click)="changeStatus()" >Allumer / Eteindre </button>


<app-child-a><i class="fas fa-alarm-clock"></i></app-child-a>
<app-child-b></app-child-b>

<router-outlet></router-outlet>
