
<!--
<app-class></app-class>
<app-style [color]="color" [bgColor]="bgColor" ></app-style>
<app-color></app-color>
<app-profil></app-profil>
-->


<app-header></app-header>
<app-router-similation></app-router-similation>
<router-outlet></router-outlet>
